html {
  font-family: "Helvetica";
  background-color: #FDFEFC;
  color: #36551D;
  font-size: 16px;
}

.btn {
  float: inherit;
  background-color: #76B8B8;
  border: none;
  color: #FDFEFC;
  text-decoration: none;
  font-size: 16px;
  padding: 10px 22px;
  margin: 10px 0px;
}

#submit-login, #submit-register {
  display: inherit;
}

label {
  display: inherit;
}

.input {
  display: inherit;
  margin-bottom: 7px;
}

#create-note-block {
  display: inline-block;
}

.section-header, #note-title, #note-content {
  display: inherit;
}

#note-content {
  background-color: #BDEC97;
}

#submit-note {
  padding: 7px 22px;
  margin: 7px 0px;
}

.section-header {
  font-size: 20px;
  margin-bottom: 7px;
}

#view-note-block {
  display: inline-block;
}

#notes-displayed {
  list-style-type: none;
  padding-left: 5px;
  border-left: 6px solid #F5F573;
}

.note {
  margin-top: 7px;
  padding-left: 7px;
  border-left: 6px solid #40800B;
  border-bottom: 4px solid #40800B;
  background-color: #BDEC97;
}

.note-title {
  font-size: 18px;
}

.note-content {
  font-size: 14px;
}
